@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --tw-shadow-color: rgb(218, 165, 32);
    --tw-shadow-color-split: rgb(0, 0, 0);


    --header-position: fixed;
    --header-height: 180px;
    --header-mb: -116px;
    --header-top: 0px;
    --content-offset: 116px;

    --avatar-image-transform: translate3d(0rem, 0, 0) scale(1);
    --avatar-border-transform: translate3d(-0.2222222222222222rem, 0, 0) scale(1.7777777777777777);
    --avatar-border-opacity: 0;
    --avatar-top: 0px;
}

@layer base {
    body {
        @apply bg-white dark:bg-gray-800;
    }

    h1, .h1 {
        @apply text-4xl;
        @apply sm:text-5xl;
        @apply font-bold;
        @apply tracking-tight;
        @apply text-zinc-800 dark:text-zinc-100;
        @apply mt-6;
        @apply mb-6;
    }
}