@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --tw-shadow-color: rgb(218, 165, 32);
    --tw-shadow-color-split: rgb(0, 0, 0);
}

@layer base {
    body {

    }

    h1, .h1 {
        @apply text-4xl;
        @apply sm:text-5xl;
        @apply font-bold;
        @apply tracking-tight;
        @apply text-zinc-800 dark:text-zinc-100;
        @apply mb-4 sm:mb-6 md:mb-8 lg:mb-10;
    }
}

@layer utilities {
    @variants responsive {
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
    }
}